extends layout

block content
  div
    .home
      header
        h1 Wassup dude?
      p.
        I am Jesse Huang
    .footer
      .pure-menu.pure-menu-horizontal.pure-menu-open
        ul
          li
            a(href="/") About
          li
            a(href="https://github.com/jhuang314") Github
          li
            a(href="http://www.linkedin.com/pub/jesse-huang/36/4a5/998") LinkedIn
          li
            a(href="https://stackoverflow.com/users/1137432/jh314") Stack Overflow
