extends layout

block content
  div
    .home
      header
        h1 Wassup?
      p.
        I am Jesse Huang, a senior at <a href="http://www.rutgers.edu")> Rutgers University</a>.  
        I am currently studying <a href="http://www.cs.rutgers.edu">Computer Science</a> and <a href="http://www.math.rutgers.edu">Math</a>.  
      p.
        My hobbies include going to hackathons, juggling, and yo-yoing.
      p.
        If you share any similar passions, hit me up!
    .footer
      .pure-menu.pure-menu-horizontal.pure-menu-open
        ul
          li
            a(href="/") About
          li
            a(href="https://github.com/jhuang314") Github
          li
            a(href="http://www.linkedin.com/pub/jesse-huang/36/4a5/998") LinkedIn
          li
            a(href="https://stackoverflow.com/users/1137432/jh314") Stack Overflow
