extends layout

block content
  .pure-g-r#layout
    .sidebar.pure-u-1.pure-u-med-1-4
      .header
        hgroup
          h1.brand-title
            a(href="/") Jesse Huang
          h2.brand-tagline.
            Rutgers University Student
        nav.nav
          ul.nav-list
            li.nav-item
              a.pure-button(href="https://github.com/jhuang314") GitHub
            li.nav-item
              a.pure-button(href="https://github.com/jhuang314") Blog
            li.nav-item
              a.pure-button(href="http://www.linkedin.com/pub/jesse-huang/36/4a5/998") LinkedIn
            li.nav-item
              a.pure-button(href="http://stackoverflow.com/users/1137432/jh314") Stack Overflow
    .content.pure-u-1.pure-u-med-3-4
      div
        .home
          - var posts = getPosts(0,5)
          - var page  = 1
          - each post in posts
            include includes/postSnippet
          header
            h1 Wassup dude?
          p.
            I am Jesse Huang
        .footer
          .pure-menu.pure-menu-horizontal.pure-menu-open
            ul
              li
                a(href="/") About
              li
                a(href="https://github.com/jhuang314") Github
              li
                a(href="http://www.linkedin.com/pub/jesse-huang/36/4a5/998") LinkedIn
              li
                a(href="https://stackoverflow.com/users/1137432/jh314") Stack Overflow
