doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(href="/images/favicon.png", rel="shortcut icon")
    link(rel="stylesheet", href="/stylesheets/pure-min.css")

    | <!--[if lte IE 8]>
    |     <link rel="stylesheet" href="/stylesheets/main-grid-old-ie.css">
    | <![endif]-->
    | <!--[if gt IE 8]><!-->
    |     <link rel="stylesheet" href="/stylesheets/main-grid.css">
    | <!--<![endif]-->
    | <!--[if lte IE 8]>
    |     <link rel="stylesheet" href="/stylesheets/layouts/blog-old-ie.css">
    | <![endif]-->
    | <!--[if gt IE 8]><!-->
    |     <link rel="stylesheet" href="/stylesheets/layouts/blog.css">
    | <!--<![endif]-->


  body(onload="prettyPrint()")
    .pure-g-r#layout
      .sidebar.pure-u-1.pure-u-med-1-4
        .header
          hgroup
            h1.brand-title
              a(href="/") Jesse Huang
            h2.brand-tagline.
              Rutgers University Student
          nav.nav
            ul.nav-list
              li.nav-item
                a.pure-button(href="https://github.com/jhuang314") GitHub
              li.nav-item
                a.pure-button(href="/blog") Blog
              li.nav-item
                a.pure-button(href="http://www.linkedin.com/pub/jesse-huang/36/4a5/998") LinkedIn
              li.nav-item
                a.pure-button(href="http://stackoverflow.com/users/1137432/jh314") Stack Overflow
      .content.pure-u-1.pure-u-med-3-4
        block content

    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst")
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48713710-1', 'jessehuang.com');
      ga('send', 'pageview');
    script(src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js")
    script.
      YUI().use('node-base', 'node-event-delegate', function (Y) {
          // This just makes sure that the href="#" attached to the <a> elements
          // don't scroll you back up the page.
          Y.one('body').delegate('click', function (e) {
              e.preventDefault();
          }, 'a[href="#"]');
      });
      $(document).ready(function() {
        $("code").addClass("prettyprint");
      });
