doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(href="/images/favicon.png", rel="shortcut icon")
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css")
    //link(rel='stylesheet', href='/stylesheets/pure-min.css')
    script(type='text/javascript', src='/javascripts/jquery-1.11.0.min.js')
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48713710-1', 'jessehuang.com');
      ga('send', 'pageview');

  body
    block content

    script(src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js")
    script.
      YUI().use('node-base', 'node-event-delegate', function (Y) {
          // This just makes sure that the href="#" attached to the <a> elements
          // don't scroll you back up the page.
          Y.one('body').delegate('click', function (e) {
              e.preventDefault();
          }, 'a[href="#"]');
      });